<?xml version="1.0"?>
  <appSettings>
    <add key="CORS" value="http://angular.client" />
    <add key="OAuthTwitterKey" value="key" />
    <add key="OAuthTwitterSecret" value="secret" />
    <add key="OAuthFacebookKey" value="key" />
    <add key="OAuthFacebookSecret" value="secret" />
</appSettings>
  