<?xml version="1.0"?>
  <appSettings>
    <add key="CORS" value="http://angular.client;http://angular.server" />
    <add key="OAuthTwitterKey" value="key" />
    <add key="OAuthTwitterSecret" value="secret" />
    <add key="OAuthFacebookKey" value="key" />
    <add key="OAuthFacebookSecret" value="secret" />
    <add key="OAuthMicrosoftKey" value="key" />
    <add key="OAuthMicrosoftSecret" value="secret" />
</appSettings>
  