<div class="content" ng-controller="AccountCtrl">
    <div class="container">
        <div class="row content-section">
            <div class="col-sm-6">
                <h2>Account</h2>
                <form class="form-horizontal" role="form" name="form" novalidate>
                    <div id="messages" ng-show="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
                    <div class="form-group">
                        <div class="col-md-9">
                            You are logged in as <strong>{{ user.userName }}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-4 control-label">Email</label>
                        <div class="col-md-7">
                            <p class="form-control-static">{{ user.emailAddress }}</p>
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" role="form" name="form" novalidate>
                    <div ng-show="user.hasLocalPassword">
                        <div class="form-group">
                            <div class="col-md-9">
                                Change password
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">Old password</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" ng-model="password.oldpassword" ng-init placeholder="Old password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">New password</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" ng-model="password.newpassword" ng-init placeholder="New password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">Confirm password</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" ng-model="password.confirmpassword" ng-init placeholder="Confirm password" required>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-push-4 text-right">
                            <button ng-click="changePassword()" ng-disabled="form.$invalid" class=" btn btn-primary btn-block">Change Password</button>
                        </div>
                    </div>

                    <div ng-hide="user.hasLocalPassword">
                        <div class="col-md-9">
                            Connected Accounts
                        </div>
                        <ul>
                            <li ng-repeat="account in user.externalAccounts">
                                {{ account.loginProvider }}
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

