<div class="col-sm-6" ng-controller="LoginCtrl">
    <form role="form" name="form" novalidate>
        <h1><small>LOGIN</small></h1>
        <div id="messages" ng-show="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
        <div class="form-group">
            <label>User name</label>
            <input type="text" class="form-control" ng-model="user.username" placeholder="Your username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required>
        </div>
        <button ng-click="login()" ng-disabled="form.$invalid" class=" btn btn-default">Login</button>
    </form>
    <hr />
    <h1><small>EXTERNAL LOGIN</small></h1>
    <form name="externalLoginForm" role="form">
        <ul class="list-inline">
            <li ng-repeat="provider in externalLoginProviders">
                <button class="btn btn-default" ng-click="loginExternal(provider.url)">{{ provider.name }}</button>
            </li>
        </ul>
    </form> 
</div>


