<div class="content text-center" ng-controller="RegisterCtrl">
    <div class="container">
        <div class="row content-section">
            <div class="col-md-4 col-md-push-4">
                <h2>Register</h2>
                <form role="form" name="form" novalidate>
                    <div feedback></div>
                    <div class="form-group">
                        <input type="text" class="form-control text-center" ng-model="user.username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control text-center" ng-model="user.email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" ng-model="user.password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" ng-model="user.confirmpassword" placeholder="Confirm Password" required>
                    </div>
                    <button ng-click="register()" ng-disabled="form.$invalid" class=" btn btn-primary btn-block">Register</button>
                </form>
                <p class="text-center small">
                    Already registered?
                    <br />
                    <a href="/login">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>
