html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #1abc9c;
}

.jumbotron {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ECF0F1;
    color: #16A085;
}

    .jumbotron h1 {
        color: #34495E;
    }

.content {
    padding-top: 30px;
}

    .content h2 {
        padding-top: 15px;
    }

    .content p {
        padding-top: 20px;
    }

    .content a {
        color: #16a085;
    }

        .content a:focus {
            color: #1abc9c;
            text-decoration: none;
        }

.content-section {
    margin: 5px 5px 5px 5px;
    background-color: #ECF0F1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 15px;
}

.btn-login-social {
    margin-bottom: 10px;
}

.control-label {
    font-weight: 700;
}

a {
    color: #fff;
}

a:hover {
    color: #34495e;
}

.footer-info {
    font-size: 60%;
}
